.summary {
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #f7f7f7;
    color: black;
    font-size: 14px;
    line-height: 1.5;
    width: 700px;
    height: 400px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }