.calendarDate {
    color: var(--color-gray-800);
}

.customTitle {
    font-size: 50px; /* Adjust the font size as needed */
    font-weight: bold; /* Adjust the font weight as needed */
  }

.badgeIcon{
    width: 15px;
    height: 15px;
    margin: 2px; 
}