.form {
    max-width: 40rem;
    margin: 2rem auto;
}

.form label {
    font-weight: 500;
}

.form label,
.form input,
.form textarea {
    display: block;
    width: 100%;
    margin-bottom: 5px;
}

.form input,
.form textarea {
    font: inherit;
    padding: 0.25rem;
}

.actions {
    display: flex;
    gap: 1rem;
    justify-content: flex-end;
}

.labelFeeling {
    font-size: 13px;
}

.invite {
    text-align: justify;
    font-size: 15px;
    margin-top: 20px;
}

.actions button {
    font: inherit;
    cursor: pointer;
    padding: 0.5rem 1.5rem;
    border-radius: 4px;
    background-color: var(--color-gray-300);
    color: var(--color-gray-800);
    border: none;
}

.actions button[type='button'] {
    background-color: transparent;
    color: var(--color-gray-300);
}

.actions button:hover {
    background-color: var(--color-primary-300);
}

.actions button[type='button']:hover {
    background-color: var(--color-gray-800);
}

.emotions {
    display: flex;
    flex-direction: row;
}

.buttonContainer {
    display: flex;
    justify-content: center; /* Centra los botones horizontalmente */
    align-items: center; 
  }

  .buttonContainer + p{
    display: flex;
    width: 100%;
    justify-content: center;
  }

.emotionImage{
    background-color: transparent; /* Hace el fondo transparente */
    border: none; /* Elimina el borde */
    padding: 0; /* Elimina el espacio interior del botón */
    cursor: pointer; 
    margin: 10px 10px; 
}

.emotionImage img {
    width: 50px; 
    height: 50px; 
    border-radius: 50%; /* Mantiene la forma circular de la imagen */
  }

  